/*////// icons CSS start ////////////////////////*/

#icons {
    bottom: 50px;
    left: 13vw;
    position: absolute;
}

circle {
    fill: #666;
    fill-opacity: 0.6;
}

svg.on circle {
    fill-opacity: 0;
}

/* on icons are hidden by default */
path.on {
    display: none;
}

/* off icons are displayed by default */
path.off {
    display: block;
}

/* on icons are displayed when parent svg has class 'on' */
svg.on path.on {
    display: block;
}

/* off icons are hidden when parent svg has class 'on' */
svg.on path.off {
    display: none;
}

svg {
    border-radius: 48px;
    box-shadow: 2px 2px 24px #444;
    display: block;
    margin: 0 0 3vh 0;
    transform: translateX(calc(-6vw - 96px));
    transition: all .1s;
    transition-timing-function: ease-in-out;
}

svg:hover {
    box-shadow: 4px 4px 48px #666;
}

#icons.active svg {
    transform: translateX(0);
}

#mute-audio {
    transition: 40ms;
}

#mute-audio:hover,
#mute-audio.on {
    background: #407cf7;
}

#mute-audio:hover circle {
    fill: #407cf7;
}

#mute-video {
    transition: 120ms;
}

#mute-video:hover,
#mute-video.on {
    background: #407cf7;
}

#mute-video:hover circle {
    fill: #407cf7;
}

#switch-video {
    transition: 200ms;
}

#switch-video:hover {
    background: #407cf7;
}

#switch-video:hover circle {
    fill: #407cf7;
}

#fullscreen {
    transition: 280ms;
}

#fullscreen:hover,
#fullscreen.on {
    background: #407cf7;
}

#fullscreen:hover circle {
    fill: #407cf7;
}

#hangup {
    transition: 360ms;
}

#hangup:hover {
    background: #dd2c00;
}
#hangup:hover circle {
    fill: #dd2c00;
}

.form-group {
    padding-top: 5px;
}

/*////// icons CSS end /////////////////////////*/