span.day-calendar {
    border: 1px solid;
    padding: 5px;
    width: 15px;
    height: 15px;
}
div.week {
    margin-bottom: 15px;
}

.free-date-record {
    background: rgb(143, 223, 130) !important;
}
.busy-date-record {
    background: red;
}

td.fc-day.free-date-record:hover {
    cursor: pointer;
}

.reception-day {
    display: flex;
    padding: 15px;
    flex-direction: column;
    border-right: 1px solid black;
}
.reception-day .title {
    background-color: #e6e6e6;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}
.days-container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.record-time {
    padding: 15px;
    text-align: center;
}

.record-time:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.doctor-name {
    font-weight: 700;
    padding: 5px;
    border-left: 1px solid #1ab394;
    border-bottom: 1px solid #1ab394;
}

.doctor-row {
    border: 1px solid black;
}

.header-month {
    float: left;
    text-align: center;
    font-weight: 500;
    background-color: #1ab394;
    color: #FFFFFF;
    border: 1px solid #1ab394;
    font-size: 15px;
    padding: 10px;
    border-right: 1px solid white;
}
.header-month:last-of-type {
    border-right: 1px solid #1ab394;
}
.doctor-name, .calendar-date {
    float:left;
}


.calendar-title{
    font-weight:500;
    font-size: 20px;
}

.fc-icon {
    height: 0.9em;
}
.fc-icon-left-single-arrow, .fc-icon-right-single-arrow {
    color: #1ab394;
}
.table-header {
    padding-bottom: 10px;
}
.calendar-date {
    border: 1px solid;
    border-top: none;
    border-right: none;
}
.calendar-date:last-of-type{
    border-right: 1px solid #1ab394;
}

.doctor-row {
    display: flex;
    border:none;
}
.calendar-date {
    border-color: #1ab394;
}
.place-name {
    font-weight: bold;
    color: white;
    background-color: #10a385;
    padding: 5px;
    text-align:center;
}

/* from full calendar*/
/* Firefox has an annoying inner border */
.fc button::-moz-focus-inner { margin: 0; padding: 0; }

.fc-state-default { /* non-theme */
	border: 1px solid;
}

.fc-state-default.fc-corner-left { /* non-theme */
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right { /* non-theme */
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* icons in buttons */

.fc button .fc-icon { /* non-theme */
	position: relative;
	top: -0.05em; /* seems to be a good adjustment across browsers */
	margin: 0 .2em;
	vertical-align: middle;
}

/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

.fc-state-default {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

fc-icon {
	display: inline-block;
	height: 1em;
	line-height: 1em;
	font-size: 1em;
	text-align: center;
	overflow: hidden;
	font-family: "Courier New", Courier, monospace;

	/* don't allow browser text-selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

/*
Acceptable font-family overrides for individual icons:
	"Arial", sans-serif
	"Times New Roman", serif

NOTE: use percentage font sizes or else old IE chokes
*/

.fc-icon:after {
	position: relative;
}

.fc-icon-left-single-arrow:after {
	content: "\02039";
	font-weight: bold;
	font-size: 200%;
	top: -7%;
}

.fc-icon-right-single-arrow:after {
	content: "\0203A";
	font-weight: bold;
	font-size: 200%;
	top: -7%;
}
.fc button .fc-icon { /* non-theme */
	position: relative;
	top: -0.05em; /* seems to be a good adjustment across browsers */
	margin: 0 .2em;
	vertical-align: middle;
}
/**/