.modal-backdrop {
    opacity: 0.5;
}

.modal.fade.in {
    opacity: 1;
}

.modal.fade.in .modal-dialog {
    transform: translate(0,0);
}
.show { opacity: 1; }

.modal-widow {
    margin-top: 60px;
}

#selfVideo, #callerVideo {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}