div[class$="menu"] {
    z-index:10
}

.filter-button {
    margin-top: 15px;
}
.calendar-filter {
    margin-bottom: 15px;
}

.filter-date-range{
    margin-top: 10px;
}

.react-bootstrap-daterangepicker-container {
    display: block !important;
}

.filter-date-range input {
    width: 100%;
}

.react-select__control {
    border-radius: 0px!important;
}
.clean-field {
    padding-left: 0;
}
.clean-button {
    width: 100%;
    height: 38px;
}