.feed-element .well {
    font-size: 13px;
}

.sidebar-panel .feed-element, .media-body, .sidebar-panel p {
    font-size: 13px;
}

.ibox-content {
    font-size: 14px;
}

.project-files li a {
    font-size: 12px;
}

.table {
     margin-bottom: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
