.react-datepicker-wrapper {
    /*display: initial;*/
}

.react-datepicker__input-container {
    /*display: initial;*/
}

.input-group.select .input-group-addon i {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.react-datepicker-popper {
    z-index: 10;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.col-form-label {
    padding-top: 5px;
}