.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    transition: all 0.3s;
}

.nav-header {
    padding: 33px 25px;
    background-color: #2f4050;
}

.sidebar .sidebar-header {
    padding: 20px;
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;

}

/*nav > li > a {*/
    /*color: #a7b1c2;*/
    /*font-weight: 600;*/
    /*padding: 14px 20px 14px 25px;*/
/*}*/

/*nav.navbar {*/
    /*width: 100%;*/
/*}*/

/*nav.navbar-right > li > a {*/
    /*color: #999c9e;*/
/*}*/

/*nav > li.active > a {*/
    /*color: #ffffff;*/
/*}*/

.navbar .nav-item > li > a:hover,
.navbar .nav-item > li > a:focus {
    background-color: #293846;
    color: white;
}

/*nav .open > a,*/
/*nav .open > a:hover,*/
/*nav .open > a:focus {*/
    /*background: #fff;*/
/*}*/


/*nav > li > a i {*/
    /*margin-right: 6px;*/
/*}*/

/*.navbar {*/
    /*border: 0;*/
/*}*/

/*.navbar-default {*/
    /*background-color: transparent;*/
    /*border-color: #2f4050;*/
/*}*/

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.rounded-circle {
    border-radius: 50%!important;
}

.profile-element img {
    width: 96px;
    height: 96px;
}