#selfDoctorVideo, #callerVideo1 {
    display: none;
}

#video-main1 {
    /*padding-left: 32px;*/
    position: relative;
    background: #eee;
    width: 18vw;
    /*height: 10vh;*/
}

.patient-window {
    position: fixed;
    top: calc(100vh - 30vh);
    right: 65px;
    z-index:9990
}

.doctor-call-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#selfDoctorVideo, #callerVideo1 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}