.list-group-item.react-tabs__tab--selected{
    background: #f3f3f4;
    color: inherit;
    border-color: #e7eaec;
    border-radius: 0;
}

.list-group-item.react-tabs__tab--selected > a {
     border: initial!important;
     border-bottom-color: initial!important;
     background-color: initial!important;
}

.full-height {
    /*min-height: 100vh;*/
}